.footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
  color: #e8e8e8;
  background-color: #696969;
  height: 42px;
  padding-right: 10px !important;
}
