.header {
  height: 42px;
  background-color: #696969;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  color: #e8e8e8;
  padding-left: 16px !important;
  font-weight: bold;
}
